@charset "UTF-8";

*{
    font-family: 'Courier New', Courier, monospace;

}

body{ 
    background-image: linear-gradient(to right, #FAE9CD , #CCA481);

}

main {
    background-color: white;
    border-radius: 10%;
    box-shadow: 3px 3px 5px #866d5677;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #A3BDFF;
    text-align: center;
    text-shadow: 1px 1px 1px #6979a3a6;
}

h1{
    color: #5E4B99;
}

p{
    text-align: justify;

}